@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,900&family=Nunito:wght@300;900&display=swap');
@import "custom_input.css";
*{
    box-sizing: border-box;
}
body{
    
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    min-height: 100vh;
    height: 100Vh;
    font-family: Nunito, sans-serif;
}

nav{
width: 100%;
height: 15vh;
display: flex;
justify-content: space-between;
padding-left: 80px;
padding-right: 80px;
background-color: #800020;
color: white;
padding-top: 20px;
}

nav img {
    width: 200px;
    height: 10vh;
}
section{
    background-color: white;
    color: black;
    width: 100%;
    height: 65vh;
    padding-left: 80px;
    padding-right: 80px;
}
.bold{
    margin-left: 43%;
    margin-right: auto;
}
.form {
    box-shadow: 1px 1px 1px 1px grey;
    height: 70%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(214, 211, 207);
    padding-top: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}
.Error{
    border-color: #ff0606;
    color: #ff0606;
  }
  .anwsers{

    font-weight: 700;
    color: black;
    font-size: 20px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .hide{

    display: none;

  }
  .questions{
    margin-left: 20%;
    
  }
  .Lastquestions{
    margin-left: 15%;
    
  }
.butttons{
    margin-left: 20%;
    margin-top: 10px;
    
}
.butttons .submit {
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 700;
    font-family: Nunito, sans-serif;
    background-color: #800020;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.Next{
    display: none;
}

.congratulations{
    color: green;
    margin-left: 38%;

}

.tryAgain{
    color: red;
    margin-left: 40%;
}

.express{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
    display: block;
}

.scoreBoard{
    
    color: black;
    font-family: Nunito, sans-serif;
    text-align: center;
    font-weight: 700;
   
}
.scoreBoard p{
    font-size: 20px;
}

footer{
    background-color: #800020;
    color: white;
    font-weight: 900;
    text-align: center;
    height: 15vh;
    width: 100%;
    padding-top: 30px;
}

@media screen and (max-width:768px) {
    .form{
        width: 100%;
    }

    nav{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
    }


    nav img {
        width: 25%;
        height: 4vh;
        margin-top: 8px;
    }
    .bold{
        margin-left: 32%;
        margin-right: auto;
        font-size: 1.2rem;
    }

    .butttons{
        margin-left: 32%;
        margin-top: 20px;
        
    }
    
}